@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Credits:</strong></p>
<ul>
    <li>UX Design, Backend development, AI Model Integration, Cloud Service Integration, Database integration, IoT Data Stream - by Heidar B.</li>
    <li>Frontend development, Testing and Deployment - by Pouyan D.</li>
</ul>
